* {
  outline: none;
}

body {
  position:relative;
}
#clear {
  clear:both;
}
ul li {
  list-style: none;
}

textarea {
  background-color: blue;
  border: medium none;
  border-radius: 35px 35px 35px 35px;
  color: white;
  height: 80%;
  left: 15px;
  overflow: hidden;
  position: absolute;
  resize: none;
  top: 5px;
  width: 85%;
}

.ui-icon {
  background-image: none;
}

.parent textarea {
  background-color: green;
}

.draggable.parent {
  background-color: green;
}

.draggable {
  position:absolute;
  text-align: center;
  height: 70px;
  width: 70px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background-color: yellowgreen;
  box-shadow: 5px 5px 3px #333333;
}
.dragContainer {
  position:relative;
  height:100%;
  width:100%;
}
.lineContainer{
  position:relative;
  height:100%;
  width:100%;
  top:0px;

}

.line{
  position:absolute;
  top:0px;
  height:500px;
  width:500px;
  z-index: -2;
}

.widgetContainer{
  height:100%;
  width:100%;
  position:relative;
}

.widget{
  position:absolute;
  background-color:yellowgreen;
  opacity: 0.8;
  box-shadow: 10px 10px 5px black;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

#resizable {
  width:200px;
  height:200px;
  background-color:gray;
}
#data{
  display:none;
}

.hidden{
  display:none;
}
